<main class="container mt-5">
  <div class="row">
    <h2>Consoles</h2>
    <a href="">+ Add New Console</a>
  </div>
  <div class="row">
    <h2>Games</h2>
    <a href="">+ Add New Game</a>
  </div>
  <div class="row">
    <h2>Controllers</h2>
    <a href="">+ Add New Controller</a>
  </div>
</main>
