{{!-- <main class="container mt-5">
  <div class="row">
    <h2>Consoles</h2>
    <a href="">+ Add New Console</a>
  </div>
  <div class="row">
    <h2>Games</h2>
    <a href="">+ Add New Game</a>
  </div>
  <div class="row">
    <h2>Controllers</h2>
    <a href="">+ Add New Controller</a>
  </div>
</main> --}}

  <div class="container">
    <h1 class="mb-4 text-center" style="color: red;"><strong>Inventory</strong></h1>

    <div class="d-flex justify-content-between">
      <!-- <button id="gamesModalButton" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#gamesModal">
      Games
      </button>

      <button id="consoleModalButton" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#consoleModal">
      <strong>Console</strong>
      </button>

      <button id="controllersModalButton" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#controllersModal">
      Controllers
      </button> -->

       <button id="addItemModalButton" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#addItemModal">
      Add New Item
    </button>
    </div>


    <div>
      <h2>Games</h2>
      <ul id="ownedGamesList"></ul>
    </div>
    <div>
      <h2>Consoles</h2>
      <ul id="ownedConsolesList"></ul>
    </div>
    <div>
      <h2>Controllers</h2>
      <ul id="ownedControllersList"></ul>
    </div>

    <!-- Games Modal -->
    <div class="modal" id="gamesModal" tabindex="-1" role="dialog" aria-labelledby="gamesModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: red;">
        <h5 class="modal-title text-center" id="gamesModalLabel"><strong>Games</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <!-- Add your games content here -->
        </div>
        <div class="modal-footer" style="background-color: red;">
        <button type="button" id= "gameClose" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>
      </div>
    </div>

    <!-- Console Modal -->
    <div class="modal" id="consoleModal" tabindex="-1" role="dialog" aria-labelledby="consoleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header" style="background-color: red;">
            <h5 class="modal-title text-center" id="consoleModalLabel"><strong>Consoles</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Add your console content here -->
          </div>
           <div class="modal-footer" style="background-color: red;">
        <button type="button" id="consoleClose" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
        </div>
      </div>
    </div>

    <!-- Controllers Modal -->
    <div class="modal" id="controllersModal" tabindex="-1" role="dialog" aria-labelledby="controllersModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header" style="background-color: red;">
            <h5 class="modal-title text-center" id="controllersModalLabel"><strong>Controllers</strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Add your controllers content here -->
          </div>
           <div class="modal-footer" style="background-color: red;">
        <button type="button" id= "controllerClose" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
        </div>
      </div>
    </div>

  <!-- Add Item Modal -->
  <div class="modal" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: red;">
          <h5 class="modal-title" id="addItemModalLabel"><strong>Add New Inventory Item</strong></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">  
          <!-- Add Item Form -->
          <form id="addItemFormBody">
            <!-- <div class="form-group">
              <label for="itemCategory">Item Category</label>
              <select id="itemCategory">
                <option>Game</option>
                <option>Console</option>
                <option>Controller</option>
              </select>
            </div>
            <div class="form-group">
              <label for="itemName">Item Name</label>
              <input type="text" class="form-control" id="itemName" placeholder="Enter item name">
            </div> -->
            
          </form>
        </div>
        
          
        <div class="modal-footer" style="background-color: red;">
          <button type="button" id="addItemClose" class="btn btn-dark" data-dismiss="modal">Close</button>
          <button id="saveButton" type="button" class="btn btn-primary" state="search">Search</button>
        </div>
      </div>
    </div>
  </div>
