<div class="row">
  <div class="col-md-12 text-center">
    <h2 style="color: red; font-weight: bold;">{{party.name}} Details</h2>
  </div>
  </div>
  <div class="col-md-12 d-flex justify-content-center">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#searchModal" id="searchModalButton">
      <strong>Add Friends</strong>
    </button>
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header" style="background-color: red;">
            <h5 class="modal-title" id="searchModalLabel">Search Players</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fliud">
            <div class="row">
                <div class="col-12">
                    <form id="add-friends">
                        <select data-mdb-select-init multiple class="center-select form-control" id="friendsList">
                        </select>
                        <button type="submit" class="btn btn-primary">Add Friends</button>
                    </form>
                </div>
            </div>
            </div>
            {{!-- <form id="search-players-form">
                <div class="mb-3">
                <label for="search" class="form-label">Search</label>
                <input type="text" class="form-control" id="search" name="search" required>
                </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </form> --}}
          </div>
        </div>
      </div>
  </div>

</div>


    <div class="row">
      <div class="col-12 text-center">
        <h2 style="color: red; font-weight: bold;">Invited Players</h2>
      </div>
      <div class="col-2">
        
    <ul id="invited-list" class="bg-info"></ul>
    </div>
    <div class="col-9 bg-info">
        <table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Games</th>
      <th scope="col">Consoles</th>
      <th scope="col">Controllers</th>
    </tr>
  </thead>
  <tbody id="tableBody">
  </tbody>
</table>
    </div>
    </div>
    <script>
        // Define a global variable to store the party object
        var partyData = {{{partyJSON}}};
    </script>
