<div class="row">
  <div class="col-md-6">
    <h2>{{party.name}} Details</h2>
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchModal" id="searchModalButton">
      Search Players
    </button>
    <div class="modal" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="searchModalLabel">Search Players</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="search-players-form">
                <div class="mb-3">
                <label for="search" class="form-label">Search</label>
                <input type="text" class="form-control" id="search" name="search" required>
                </div>
              <button type="submit" class="btn btn-primary">Search</button>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    <h2 id="players-list">Players List</h2>
  </div>
</div>
    <!-- Your HTML content here -->

    <script>
        // Define a global variable to store the party object
        var partyData = {{{partyJSON}}};
    </script>
